// Color Variables
$color-primary: #457b9d;
$color-primary-light: #a8dadc;
$color-primary-dark: #14213d;

$color-tertiary: #ef233c;

$color-grey-light-1: #e4e4e4;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #777777;
$color-grey-dark-2: #333;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    scroll-behavior: smooth;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.6;
    background-color: #edf2f4;
}