.container {
    display: flex;
	align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-image: url('../../public/images/cool-background.png');
    background-position: center;
    margin: 12rem 0 7rem 0;
    padding: 5rem 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);

    @media only screen and (max-width: $bp-small) {
        margin: 5rem 0 7rem 0;
        padding: 2.5rem 0;
    }
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.section {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-primary-dark;

    &__logo {
        font-family: Audiowide, Arial, Helvetica, sans-serif;
        margin-top: 5rem;
        color: $color-grey-light-1;
        font-size: 5rem;
    }

    &__content {
        display: flex;
        font-size: 1.5rem;

        @media only screen and (max-width: $bp-small) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__list {
        margin: 5rem 10rem;
        list-style-type: none;
    }

    &__item {
        padding: .25rem 0;
    }

    &__link {
        text-decoration: none;
        color: $color-grey-light-1;
        transition: color .2s;

        &:hover {
            color: #fff;
        }
    }

    &__social {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5rem 10rem;

        @media only screen and (max-width: $bp-small) {
            margin: 0;
        }
    }

    &__social-list {
        display: flex;
        list-style-type: none;

        @media only screen and (max-width: $bp-small) {
            margin-bottom: 1rem;
        }
    }

    &__social-link {
        margin: 1rem;
        text-decoration: none;
        color: $color-grey-light-1;
        font-size: 5rem;
        transition: color .2s;

        &:hover {
            color: #fff;
        }
    }

    &__social-text {
        color: $color-grey-light-1;
    }
}