<footer class="footer u-margin-top-huge">
    <div class="footer__logo">
        <span>ADBOX</span>
    </div>

    <div class="footer__content">
        <ul class="footer__list">
            <li class="footer__item"><a class="footer__link" href="#">Kontakt</a></li>
            <li class="footer__item"><a class="footer__link" href="#">O nas</a></li>
            <li class="footer__item"><a class="footer__link" href="#">Regulamin</a></li>
            <li class="footer__item"><a class="footer__link" href="#">Polityka prywatności</a></li>
            <li class="footer__item"><a class="footer__link" href="#">Pomoc</a></li>
        </ul>

        <div class="footer__social">
            <span class="footer__social-text">Odwiedź nas:</span>
            <ul class="footer__social-list">
                <li class="footer__item"><a class="footer__social-link" href="#"><i
                            class="fab fa-facebook-square"></i></a>
                </li>
                <li class="footer__item"><a class="footer__social-link" href="#"><i
                            class="fab fa-instagram-square"></i></a>
                </li>
                <li class="footer__item"><a class="footer__social-link" href="#"><i
                            class="fab fa-youtube-square"></i></a>
                </li>
                <li class="footer__item"><a class="footer__social-link" href="#"><i
                            class="fab fa-twitter-square"></i></a>
                </li>
            </ul>
        </div>
    </div>

</footer>