<nav class="navbar">
    <a class="navbar__logo-text" href="/ads">ADBOX</a>

    <form class="navbar__search" action="">
        <input class="navbar__search-input" type="text" id="searchInput" placeholder="Wyszukaj ogłoszenie">
        <button class="navbar__search-button"><i class="fas fa-search"></i></button>
    </form>

    <ul class="nav">
        <li class="nav__item"><a class="nav__link" href="/ads/new">Dodaj ogłoszenie</a></li>
        <li class="nav__item"><a class="nav__link" href="#">Zaloguj się</a></li>
        <li class="nav__item"><a class="nav__link" href="#">Zarejestruj się</a></li>
    </ul>
</nav>

<script src="../../public/js/navbarShrink.js"></script>