@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scroll-behavior: smooth; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: #f5f5f5; }

.categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 80%; }
  .categories__link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .3s; }
    .categories__link:link, .categories__link:visited {
      color: #000; }
    .categories__link:hover {
      transform: scale(1.15); }
  .categories__item {
    margin: 2rem 3rem;
    width: 8rem; }
  .categories__icon {
    padding-bottom: 1rem;
    font-size: 5rem;
    color: #14213d;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }
    .categories__icon--free {
      width: 6rem;
      padding-bottom: 1rem; }
  .categories__text {
    margin-top: 1rem;
    font-size: 1.6rem;
    text-align: center; }

.ad {
  display: flex;
  flex-direction: column;
  width: calc(25% - 2rem);
  margin: 2rem 1rem;
  background-color: #fff;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 1rem; }
  @media only screen and (max-width: 68.75em) {
    .ad {
      width: calc(33% - 2rem); } }
  @media only screen and (max-width: 50em) {
    .ad {
      width: calc(50% - 2rem); } }
  @media only screen and (max-width: 37.5em) {
    .ad {
      width: calc(100% - 2rem); } }
  .ad__title {
    white-space: nowrap;
    overflow: hidden;
    font-size: 2rem;
    font-weight: 700;
    text-overflow: ellipsis; }
    .ad__title:link, .ad__title:visited {
      text-decoration: none;
      color: #000; }
  .ad__date-location {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .ad__location {
    margin-right: .5rem;
    font-size: 1.2rem;
    color: #333; }
    .ad__location-icon {
      font-size: 1.6rem;
      margin-right: .5rem; }
  .ad__price {
    font-size: 1.8rem; }
  .ad__price-observe {
    display: flex;
    justify-content: space-between; }
  .ad__observe-icon {
    font-size: 2rem;
    color: #ef233c;
    cursor: pointer;
    transition: all .2s; }
    .ad__observe-icon:hover {
      transform: scale(1.1); }
    .ad__observe-icon.to-remove:hover {
      transform: scale(1.1);
      color: #777; }
  .ad__image {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover; }
    .ad__image-link {
      height: 20rem;
      margin-bottom: auto; }
      @media only screen and (max-width: 37.5em) {
        .ad__image-link {
          height: 25rem; } }
    .ad__image-none {
      width: 100%;
      height: 100%;
      border-radius: 1rem;
      object-fit: cover; }
  .ad__creation-date {
    margin: 1rem 0;
    font-size: 1.2rem;
    color: #777; }

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 8rem;
  top: 0;
  background-color: #ef233c;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 10;
  transition: top .5s; }
  .navbar__logo-wrapper {
    display: flex;
    align-items: center;
    flex: 0 0 33.33%; }
    @media only screen and (max-width: 37.5em) {
      .navbar__logo-wrapper {
        flex: 0 0 50%; } }
    @media only screen and (max-width: 31.25em) {
      .navbar__logo-wrapper {
        flex: 0 0 20%; } }
  .navbar__logo {
    display: block;
    width: 4.5rem;
    margin-left: 1rem;
    transition: all .2s; }
    @media only screen and (max-width: 50em) {
      .navbar__logo {
        width: 3.5rem; } }
    @media only screen and (max-width: 31.25em) {
      .navbar__logo {
        width: 5rem;
        margin-left: 2rem; } }
  .navbar__logo-text {
    font-size: 4.5rem;
    font-family: Audiowide, Roboto, Arial, Helvetica, sans-serif;
    margin-left: 4rem;
    text-decoration: none;
    color: #14213d;
    transition: all .2s; }
    @media only screen and (max-width: 50em) {
      .navbar__logo-text {
        font-size: 3.5rem;
        margin-left: 2rem; } }
    @media only screen and (max-width: 31.25em) {
      .navbar__logo-text {
        display: none; } }
  .navbar__search {
    display: flex;
    justify-content: center;
    flex: 0 0 33.33%; }
    @media only screen and (max-width: 37.5em) {
      .navbar__search {
        display: none; } }
  .navbar__search-input {
    width: 80%;
    margin-right: 2rem;
    padding: 1rem 5rem 1rem 2.5rem;
    border-radius: 10rem;
    transition: all .3s;
    align-self: center;
    border: none;
    font-family: inherit;
    box-shadow: 0 0 5px black;
    font-size: 2rem; }
    .navbar__search-input::placeholder {
      font-size: 1.75rem;
      color: #777; }
    .navbar__search-input:focus {
      outline: none; }
    .navbar__search-input:focus {
      width: 100%;
      box-shadow: 0 0 10px black; }
  .navbar__search-button {
    background-color: transparent;
    border: none;
    transform: translateX(-6rem);
    margin-right: -4rem;
    font-size: 2rem;
    color: #777; }
    .navbar__search-button:focus {
      outline: none; }
  .navbar__search-sm {
    display: none;
    width: 80%;
    margin: 0 auto; }
    @media only screen and (max-width: 37.5em) {
      .navbar__search-sm {
        display: block;
        margin-top: 12rem;
        display: flex;
        justify-content: center; } }

.nav {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  align-items: center;
  position: relative;
  flex: 0 0 33.33%; }
  @media only screen and (max-width: 37.5em) {
    .nav {
      flex: 0 0 50%; } }
  @media only screen and (max-width: 31.25em) {
    .nav {
      flex: 0 0 80%; } }
  .nav__add {
    margin-right: 2rem; }
  .nav__user {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    background-color: #fff;
    font-size: 2rem;
    background-color: #fff;
    box-shadow: 0 0 5px black;
    border-radius: 50%;
    text-decoration: none;
    color: #14213d;
    cursor: pointer;
    margin-right: 4rem;
    transition: all .2s; }
    @media only screen and (max-width: 50em) {
      .nav__user {
        margin-right: 2rem; } }
    .nav__user:hover, .nav__user:focus {
      color: #e4e4e4;
      background-color: #14213d;
      transform: scale(1.2); }
  .nav__link {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    font-size: 1.75rem;
    background-color: #fff;
    box-shadow: 0 0 5px black;
    border-radius: 2rem;
    text-decoration: none;
    color: #000;
    transition: all .2s; }
    @media only screen and (max-width: 50em) {
      .nav__link {
        font-size: 1.5rem;
        margin-right: -1rem; } }
    .nav__link:hover, .nav__link:focus {
      color: #e4e4e4;
      background-color: #14213d;
      transform: scale(1.1); }
  .nav__dropdown {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 20rem;
    top: 6.5rem;
    right: 0;
    transform: scaleY(0);
    overflow: hidden;
    padding: 1rem;
    background-color: #14213d;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transform-origin: top;
    transition: all 0.35s ease; }
    .nav__dropdown-link {
      width: 100%;
      padding: 1rem 0;
      text-decoration: none;
      color: #e4e4e4;
      font-size: 1.6rem;
      text-align: center;
      transition: all .3s; }
      .nav__dropdown-link:hover {
        background-color: #ef233c; }

.show {
  transform: scaleY(1);
  visibility: visible;
  opacity: 1; }

.active-icon {
  color: #e4e4e4;
  background-color: #14213d;
  transform: scale(1.2); }

.new-ad {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 50rem;
  margin-top: 13rem; }
  @media only screen and (max-width: 37.5em) {
    .new-ad {
      margin-top: 0; } }
  @media only screen and (max-width: 31.25em) {
    .new-ad__form {
      padding: 0 3rem; } }
  .new-ad__images {
    display: flex; }
  .new-ad__img-box {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .new-ad__img-thumbnail {
    width: 12rem;
    height: 8rem;
    border: 1px solid #777;
    margin: 1rem .5rem; }
  .new-ad__img-delete {
    display: flex;
    align-items: center; }
    .new-ad__img-delete-label {
      margin-right: 1rem;
      font-size: 1.5rem; }
  .new-ad__select {
    width: 100%;
    padding: 1rem 1rem 1rem 0.5rem;
    margin-top: -1.5rem;
    font-family: inherit;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    appearance: none;
    border: 1px solid #e4e4e4; }
    .new-ad__select:focus {
      outline: none;
      border: 1px solid #ef233c;
      box-shadow: 0 0 10px rgba(255, 51, 51, 0.9); }
  .new-ad__group {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 1.5rem;
    margin-bottom: 4rem; }
  .new-ad__label {
    position: absolute;
    top: .5rem;
    left: 1.5rem;
    font-size: 2rem;
    color: #777;
    pointer-events: none;
    transition: all .3s ease; }
  .new-ad__input {
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: none;
    font-size: 1.6rem;
    transition: all .3s;
    font-family: inherit;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border: 1px solid #e4e4e4; }
    .new-ad__input[type=number] {
      appearance: textfield; }
    .new-ad__input:focus {
      outline: none;
      border: 1px solid #ef233c;
      box-shadow: 0 0 10px rgba(255, 51, 51, 0.9); }
    .new-ad__input:focus ~ .new-ad__label,
    .new-ad__input:not(:focus):valid ~ .new-ad__label {
      top: -3rem;
      left: -0.5rem;
      color: #000;
      font-size: 1.4em; }
  .new-ad__upload-label {
    font-size: 2rem; }

input[type=file]::file-selector-button {
  margin: 1rem 1rem;
  padding: 1rem 2rem;
  border: 2px solid #14213d;
  border-radius: .2em;
  background-color: #14213d;
  color: #fff;
  transition: .5s;
  font-size: 1.5rem; }

input[type=file]::file-selector-button:hover {
  background-color: #ef233c;
  border: 2px solid #ef233c; }

.card-wrapper {
  width: 100%;
  max-width: 100rem;
  padding: 0 5rem; }

.card {
  display: flex;
  align-items: center;
  padding: 2rem;
  margin-top: 16rem;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 1rem;
  word-break: break-all;
  position: relative; }
  @media only screen and (max-width: 50em) {
    .card {
      flex-direction: column; } }
  @media only screen and (max-width: 37.5em) {
    .card {
      margin-top: 5rem; } }
  .card__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 25rem;
    align-self: stretch;
    margin-left: 4rem;
    color: #333;
    word-break: break-word; }
    @media only screen and (max-width: 50em) {
      .card__info {
        width: 100%;
        max-width: 80%;
        position: relative;
        margin-left: 1rem; } }
  .card__observe-icon {
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 2.5rem;
    color: #ef233c;
    cursor: pointer;
    transition: all .2s; }
    .card__observe-icon:hover {
      transform: scale(1.1); }
    @media only screen and (max-width: 50em) {
      .card__observe-icon {
        top: 0;
        right: -15%; } }
  .card__author {
    font-size: 1.6rem; }
  .card__title {
    width: 100%;
    font-size: 2.5rem;
    line-height: 3.25rem;
    color: #000; }
  .card__price {
    margin: 1rem 0;
    font-size: 1.8rem; }
    .card__price-icon {
      margin-right: 1rem;
      font-size: 2.2rem; }
  .card__contact {
    margin: 1rem 0;
    font-size: 1.8rem; }
    .card__contact-icon {
      margin-right: 1rem;
      font-size: 2.2rem; }
    .card__contact-text {
      text-decoration: none;
      color: #333; }
  .card__phone {
    margin: 1rem 0;
    font-size: 1.8rem;
    cursor: pointer;
    color: #ef233c; }
    .card__phone-icon {
      margin-right: 1rem;
      font-size: 2.2rem; }
  .card__location {
    margin: 1rem 0;
    font-size: 1.8rem; }
    .card__location-icon {
      margin-right: 1rem;
      font-size: 2.2rem; }
  .card__image {
    width: 20%;
    height: auto;
    border-radius: 1rem; }

.description-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  max-width: 100rem;
  padding: 2rem;
  margin-top: 2rem;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 1rem;
  word-break: break-all; }
  .description-box__title {
    align-self: start; }
  .description-box__text {
    align-self: start;
    padding: 1rem 0 2rem 0;
    font-size: 1.5rem;
    white-space: pre-line;
    color: #333; }
  .description-box__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 3rem; }

.btn {
  display: block;
  border: none;
  margin: 0 auto;
  padding: 1.5rem 3rem;
  background-color: #14213d;
  font-size: 1.6rem;
  color: #e4e4e4;
  border-radius: 1rem;
  cursor: pointer;
  transition: all .2s;
  text-decoration: none;
  font-family: inherit; }
  .btn--small {
    padding: 1rem 2.5rem;
    font-size: 1.3rem; }
    @media only screen and (max-width: 31.25em) {
      .btn--small {
        padding: .75rem 1.5rem;
        font-size: 1.1rem; } }
  .btn--medium {
    padding: 1.25rem 2.75rem;
    font-size: 1.4rem;
    border-radius: 1rem; }
  .btn:hover, .btn:focus {
    outline: none;
    background-color: #ef233c;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); }
  .btn:active {
    transform: translateY(3px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.error-alert {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 50rem;
  margin-top: 15rem;
  padding: 1.5rem;
  background-color: #fdb3b3;
  color: #810000;
  border-radius: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }
  .error-alert__title {
    align-self: start;
    font-size: 3rem;
    margin-bottom: 1rem; }
  .error-alert__text {
    font-size: 1.6rem; }

.no-category-alert {
  margin: 2rem auto;
  font-size: 2.5rem;
  color: #ef233c; }

.heading-1 {
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 1px;
  word-spacing: .5rem; }

@media only screen and (max-width: 37.5em) {
  h1.heading-1 {
    margin-top: 5rem !important; } }

.heading-2 {
  font-size: 2.75rem;
  letter-spacing: 1px;
  word-spacing: .5rem; }

.heading-3 {
  font-size: 2.5rem; }

.flash {
  position: fixed;
  bottom: 5%;
  margin: 0 auto;
  z-index: 10; }
  .flash.fade-out {
    animation: fade-out .5s ease 5s forwards; }
  .flash.remove {
    visibility: hidden; }
  .flash__message {
    display: flex;
    align-items: center;
    padding: .5rem 1.5rem;
    border-radius: .5rem;
    font-size: 1.5rem;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    animation: fade-in .5s ease; }
    .flash__message.success {
      background-color: #baffa9;
      color: #005000; }
    .flash__message.danger {
      background-color: #fdb3b3;
      color: #810000; }
    .flash__message-dismiss {
      font-size: 2rem;
      margin-left: 1rem;
      cursor: pointer; }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    visibility: hidden; } }

.pagination {
  display: flex;
  align-items: center;
  margin-top: 5rem;
  padding: 1.25rem 2.5rem;
  background-color: #eee;
  border-radius: 3rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7); }
  .pagination__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    font-size: 2rem;
    margin: 0 .5rem;
    padding: .8rem 1.6rem;
    border-radius: 50%;
    text-decoration: none;
    color: #ef233c;
    background-color: #fff;
    box-shadow: 2px 2px 10px rgba(255, 51, 51, 0.9);
    transition: background-color .3s; }
    .pagination__btn.previous, .pagination__btn.next {
      width: 3.5rem;
      height: 3.5rem; }
      .pagination__btn.previous i, .pagination__btn.next i {
        font-size: 1.6rem; }
    .pagination__btn.active {
      background-color: #ef233c;
      color: white;
      box-shadow: none; }
    .pagination__btn:hover:not(.active) {
      background-color: #e4e4e4; }

.user {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 40rem;
  margin-top: 15rem;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 1rem; }
  @media only screen and (max-width: 37.5em) {
    .user {
      width: 80%;
      margin-top: 4rem; } }
  .user__select {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    font-size: 1.5rem; }
  .user__select-login, .user__select-register {
    display: flex;
    justify-content: center;
    padding-bottom: .5rem;
    flex: 0 0 50%;
    border-bottom: 3px solid #aaa;
    text-decoration: none;
    color: #aaa;
    text-transform: uppercase;
    font-weight: 700;
    transition: all .2s; }
    .user__select-login:hover, .user__select-register:hover {
      color: #777;
      border-bottom: 3px solid #777; }
    .user__select-login.active, .user__select-register.active {
      color: #ef233c;
      border-bottom: 3px solid #ef233c; }
  .user__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0rem 2.5rem 0;
    margin-top: 0.5rem; }
  .user__group {
    display: flex;
    position: relative;
    align-items: center;
    margin: 1.5rem 0; }
  .user__icon {
    position: absolute;
    left: 1.5rem;
    padding-right: 1.25rem;
    z-index: 1;
    font-size: 1.5rem;
    line-height: 3rem;
    border-right: 1px solid #ccc;
    color: #777;
    transition: all .4s; }
  .user__input {
    padding: 1.25rem 1rem 1.25rem 5rem;
    font-family: inherit;
    font-size: 1.6rem;
    outline: none;
    background-color: #f5f5f5;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border: 1px solid #e4e4e4;
    border-radius: .5rem;
    transition: all .4s; }
    .user__input:focus {
      border: 1px solid #ef233c;
      box-shadow: 0 0 5px rgba(255, 51, 51, 0.9); }
    .user__input:focus + .user__icon {
      color: #ef233c;
      border-right: 1px solid #ef233c; }
    .user__input::-webkit-input-placeholder {
      color: #777; }
    .user__input::-moz-placeholder {
      color: #777;
      opacity: 1; }
    .user__input::placeholder {
      color: #777; }

.contact {
  width: 50%;
  padding: 3rem;
  margin-top: 8rem;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 1rem; }
  @media only screen and (max-width: 37.5em) {
    .contact {
      width: 100%;
      margin-bottom: 5rem; } }
  .contact-form__group {
    margin: 3rem 0; }
  .contact-form__input {
    width: 100%;
    padding: 1rem;
    font-family: inherit;
    font-size: 1.6rem;
    outline: none;
    background-color: #f5f5f5;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border: 1px solid #e4e4e4;
    border-radius: 1rem;
    transition: all .4s; }
    .contact-form__input:focus {
      border: 1px solid #ef233c;
      box-shadow: 0 0 5px rgba(255, 51, 51, 0.9); }

.splide {
  width: 60%;
  height: 100%;
  border-radius: 1rem;
  overflow: hidden; }
  @media only screen and (max-width: 50em) {
    .splide {
      width: 100%;
      margin-bottom: 5rem; } }

.img {
  height: 100%;
  width: 100%;
  cursor: zoom-in;
  object-fit: cover; }

.no-img {
  width: 60%; }
  @media only screen and (max-width: 50em) {
    .no-img {
      margin-bottom: 5rem; } }

.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  padding-top: 10rem;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  animation-name: fade;
  animation-duration: 0.3s; }
  .modal__close {
    position: absolute;
    top: 15%;
    right: 30%;
    color: #f1f1f1;
    font-size: 3.5rem;
    font-weight: bold;
    z-index: 2;
    transition: .3s; }
    .modal__close:hover, .modal__close:focus {
      color: red;
      cursor: pointer; }
  .modal__img {
    display: block;
    position: relative;
    width: 50%;
    max-width: 70rem;
    height: auto;
    margin: auto;
    animation-name: fade;
    animation-duration: 0.3s; }
  @media only screen and (max-width: 50em) {
    .modal__img {
      width: 100%; }
    .modal__close {
      right: 15%;
      top: 12.5%; } }

@keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 100; } }

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh; }

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-image: url("../../public/images/cool-background.png");
  background-position: center;
  margin: 12rem 0 7rem 0;
  padding: 5rem 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
  @media only screen and (max-width: 37.5em) {
    .header {
      margin: 5rem 0 7rem 0;
      padding: 2.5rem 0; } }

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; }

.section {
  display: flex;
  flex-wrap: wrap;
  width: 75%; }

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #14213d; }
  .footer__logo {
    font-family: Audiowide, Arial, Helvetica, sans-serif;
    margin-top: 5rem;
    color: #e4e4e4;
    font-size: 5rem; }
  .footer__content {
    display: flex;
    font-size: 1.5rem; }
    @media only screen and (max-width: 37.5em) {
      .footer__content {
        flex-direction: column;
        align-items: center; } }
  .footer__list {
    margin: 5rem 10rem;
    list-style-type: none; }
  .footer__item {
    padding: .25rem 0; }
  .footer__link {
    text-decoration: none;
    color: #e4e4e4;
    transition: color .2s; }
    .footer__link:hover {
      color: #fff; }
  .footer__social {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 10rem; }
    @media only screen and (max-width: 37.5em) {
      .footer__social {
        margin: 0; } }
  .footer__social-list {
    display: flex;
    list-style-type: none; }
    @media only screen and (max-width: 37.5em) {
      .footer__social-list {
        margin-bottom: 1rem; } }
  .footer__social-link {
    margin: 1rem;
    text-decoration: none;
    color: #e4e4e4;
    font-size: 5rem;
    transition: color .2s; }
    .footer__social-link:hover {
      color: #fff; }
  .footer__social-text {
    color: #e4e4e4; }

.u-center-text {
  text-align: center !important; }

.u-margin-top {
  margin-top: 3rem !important; }

.u-margin-bottom {
  margin-bottom: 3rem !important; }

.u-margin-top-big {
  margin-top: 6rem !important; }

.u-margin-bottom-big {
  margin-bottom: 6rem !important; }

.u-margin-top-huge {
  margin-top: 14rem !important; }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }
