<% layout('layouts/boilerplate') %>
<div class="user">
    <div class="user__select">
        <a class="user__select-login active"href="/login">Logowanie</a>
        <a class="user__select-register" href="/register">Rejestracja</a>
    </div>
    <h1 class="heading-2 u-margin-top u-center-text">Zaloguj się</h1>
    <form class="user__form" action="/login" method="POST">
        <div class="user__group">
            <input class="user__input" type="email" id="email" name="email" placeholder="Email" autofocus required>
            <label class="user__icon" for="email">
                <i class="fas fa-envelope"></i>
            </label>
        </div>
        <div class="user__group u-margin-bottom">
            <input class="user__input" type="password" id="password" name="password" placeholder="Hasło" required>
            <label class="user__icon" for="password">
                <i class="fas fa-lock"></i>
            </label>
        </div>
        <button class="btn btn--medium" type="submit">Zaloguj się</button>
    </form>
</div>