<% layout('layouts/boilerplate') %>
<div class="user">
    <div class="user__select">
        <a class="user__select-login"href="/login">Logowanie</a>
        <a class="user__select-register active" href="/register">Rejestracja</a>
    </div>
    <h1 class="heading-2 u-margin-top u-center-text">Zarejestruj się</h1>
    <form class="user__form" action="/register" method="POST">
        <div class="user__group">
            <input class="user__input" type="text" id="username" name="username" placeholder="Nazwa użytkownika" autofocus required>
            <label class="user__icon" for="username">
                <i class="fas fa-user"></i>
            </label>
        </div>
        <div class="user__group">
            <input class="user__input" type="email" id="email" name="email" placeholder="Email" required>
            <label class="user__icon" for="email">
                <i class="fas fa-envelope"></i>
            </label>
        </div>
        <div class="user__group">
            <input class="user__input" type="password" id="password" name="password" pattern=".{8,}" title="Hasło musi składać się przynajmniej z 8 znaków" placeholder="Hasło" required>
            <label class="user__icon" for="password">
                <i class="fas fa-lock"></i>
            </label>
        </div>
        <div class="user__group u-margin-bottom">
            <input class="user__input" type="password" id="confirmPassword" placeholder="Powtórz hasło" required>
            <label class="user__icon" for="password">
                <i class="fas fa-lock"></i>
            </label>
        </div>
        <button class="btn btn--medium" type="submit">Zarejestruj się</button>
    </form>
</div>

<script>
    var password=document.getElementById("password")
        , confirm_password=document.getElementById("confirmPassword");

    function validatePassword() {
        if (password.value!=confirm_password.value) {
            confirm_password.setCustomValidity("Hasła do siebie nie pasują");
        } else {
            confirm_password.setCustomValidity('');
        }
    }

    password.onchange=validatePassword;
    confirm_password.onkeyup=validatePassword;
</script>