<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADVERY - Ogłoszenia</title>
</head>

<body>

    <h1>Wszystkie ogłoszenia</h1>
    <div>
        <a href="/ads/new">Dodaj ogłoszenie</a>
    </div>
    <ul>
        <% ads.forEach(ad => { %>
            <li><a href="ads/<%=ad._id%>"><%= ad.title %></a></li>
        <% }); %>
    </ul>

</body>

</html>