<% layout('layouts/boilerplate') %>
<div class="new-ad">
    <h1 class="heading-1 u-margin-bottom u-center-text">Dodaj nowe ogłoszenie</h1>
    <form class="new-ad__form" action="/ads" method="POST">
        <div class="new-ad__group">
            <label class="new-ad__label" for="title">Tytuł ogłoszenia</label>
            <input class="new-ad__input" type="text" id="title" name="ad[title]">
        </div>
        <div class="new-ad__group">
            <label class="new-ad__label" for="price">Cena</label>
            <input class="new-ad__input" type="text" id="price" name="ad[price]">
        </div>
        <div class="new-ad__group u-margin-bottom-big">
            <label class="new-ad__label" for="description">Opis</label>
            <textarea class="new-ad__input"  id="description" name="ad[description]" rows="5"></textarea>
        </div>
        <button class="btn">Dodaj ogłoszenie</button>
    </form>
</div>