<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodaj ogłoszenie</title>
</head>

<body>

    <form action="/ads" method="POST">
        <div>
            <label for="title">Tytuł ogłoszenia</label>
            <input type="text" id="title" name="ad[title]">
        </div>
        <div>
            <label for="price">Cena</label>
            <input type="text" id="price" name="ad[price]">
        </div>
        <div>
            <label for="description">Opis</label>
            <input type="text" id="description" name="ad[description]">
        </div>
        <button>Dodaj ogłoszenie</button>
    </form>
    <a href="/ads">Wszystkie ogłoszenia</a>

</body>

</html>