<% layout('layouts/boilerplate') %>
<div class="new-ad">
    <h1 class="heading-1 u-margin-bottom u-center-text">Dodaj ogłoszenie</h1>
    <form class="new-ad__form" action="/" method="POST" enctype="multipart/form-data">
        <div class="new-ad__group">
           <input class="new-ad__input" type="text" id="title" name="ad[title]" maxlength="60" placeholder="Tytuł" autofocus required>
           <label for="title" class="new-ad__label">Tytuł</label>
        </div>
        <div class="new-ad__group">
            <select name="ad[category]" id="category" required class="new-ad__select">
               <option value="" selected disabled>Wybierz kategorię</option>
               <option value="Motoryzacja">Motoryzacja</option>
               <option value="Elektronika">Elektronika</option>
               <option value="Zwierzęta">Zwierzęta</option>
               <option value="Rolnictwo">Rolnictwo</option>
               <option value="Rozrywka i Rekreacja">Rozrywka i Rekreacja</option>
               <option value="Dla dzieci">Dla dzieci</option>
               <option value="Nieruchomości">Nieruchomości</option>
               <option value="Usługi">Usługi</option>
               <option value="Muzyka">Muzyka</option>
               <option value="Praca">Praca</option>
               <option value="Moda">Moda</option>
               <option value="Dom i Ogród">Dom i Ogród</option>
               <option value="Zdrowie i Uroda">Zdrowie i Uroda</option>
               <option value="Siłownia i Fitness">Siłownia i Fitness</option>
               <option value="Biżuteria">Biżuteria</option>
               <option value="Oddam za darmo">Oddam za darmo</option>
            </select>
        </div>
        <div class="new-ad__group">
           <input class="new-ad__input" type="number" step="0.01" id="price" name="ad[price]" onkeypress="return isNumberKey(event)" placeholder="Cena" required>
           <label for="price" class="new-ad__label">Cena</label>
        </div>
        <div class="new-ad__group">
           <textarea class="new-ad__input"  id="description" name="ad[description]" maxlength="1000" rows="4" placeholder="Opis" required></textarea>
           <label for="description" class="new-ad__label">Opis</label>
        </div>
        <div class="new-ad__group">
           <input class="new-ad__input" type="text" id="contactNumber" name="ad[contactNumber]" pattern=".{9,15}" maxlength="15" placeholder="Numer telefonu" onkeypress="return isNumberKey(event)" title="Numer telefonu musi składać się z conajmniej 9 cyfr" required>
           <label for="contactNumber" class="new-ad__label">Numer kontaktowy</label>
        </div>
        <div class="new-ad__group">
           <input class="new-ad__input" type="text" id="location" name="ad[location]" maxlength="40" placeholder="Miejscowość" required>
           <label for="location" class="new-ad__label">Miejscowość</label>
        </div>
        <div class="new-ad__group new-ad__group--upload">
            <label class="new-ad__upload-label" for="image">Dodaj zdjęcia</label>
            <input type="file" name="image" id="image" multiple>
         </div>
        <button class="btn" id="addBtn" type="submit">Dodaj ogłoszenie</button>
    </form>
</div>

<script>
	function isNumberKey(evt) {
		let charCode=(evt.which)? evt.which:evt.keyCode;
		if (charCode!=46&&charCode>31
			&&(charCode<48||charCode>57))
			return false;

		return true;
	}
	contactNumber.addEventListener('keypress', checkValue);
</script>